.task-page{
    padding-top: 75px;
    background-color: black;
    min-height: 550px;
    padding-bottom: 20px;
}
.task-container{
    height: 100%;
    box-shadow: 0px 0px 4px 2px rgb(180, 180, 180);
    border-radius: 15px;
    width: 100%;
}
.task-heading{
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 550;
    font-style: italic;
    color:rgb(0, 238, 255);
}
.task-sub-main-heading{
    color: rgb(0, 255, 213);
    font-size: 30px;
    font-family: "Courgette";
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: underline;
    text-decoration-color: rgb(0, 255, 213);
    text-decoration-thickness: 2px;
}
.task-sub-heading{
    color: rgb(0, 238, 255);
    font-size: 28px;
    font-family: "Kaushan Script";
    font-weight: bold;
    letter-spacing: 1px;
}
.task-colon {
    color: white;
    margin-bottom: 15px;
}
.task-name{
    color: white;
    font-weight: 500;
    font-family: "Roboto Slab";
    margin-bottom: 10px;
    font-size: 26px;
}
.task-btns{
    border: 0px;
    background-color: transparent;
    font-size: 21px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding-bottom: 6px;
    transition: all .2s ease;
}
.task-btns:hover{
    background-color: rgb(0, 238, 255);
}
.task-btns:active{
    transform: scale(0.8);
}
.desc-heading{
    color: rgb(0, 238, 255);
    font-size: 25px;
    font-family: 'Kaushan Script';
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.description {
    font-size: 16px;
    color: white;
    font-family: 'Roboto Slab';
    letter-spacing: 0.2px;
    font-weight: 500;
}
.status-heading{
    font-size: 25px;
    font-family: "Kaushan Script";
    color: rgb(0, 238, 255);
    margin-bottom: 10px;
}
.status-text{
    color: white;
    font-family: "Roboto Slab";
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 450;
}
.date{
    color: white;
    font-family: "Roboto Slab";
    font-size: 19px;
    font-weight: 450;
}
.msg{
    font-size: 15px;
    color: grey;
    font-family: "Roboto";
}

@media screen and (min-width:576px) and (max-width: 768px){
    .task-container{
        width: 80%;
    }
    .task-btn-div{
        padding-right: 4px;
    }
    .task-sub-main-heading{
        font-size: 31px;
    }
    .task-btns{
        width: 45px;
        height: 45px;
    }
}
@media screen and (min-width:768px) and (max-width: 992px){
    .task-container{
        width: 70%;
    }
    .task-btn-div{
        padding-right: 13px;
    }
    .task-sub-main-heading{
        font-size: 35px;
    }
    .task-btns{
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width:992px) and (max-width: 1200px){
    .task-container{
        width: 60%;
        padding: 20px;
    }
    .task-btn-div{
        padding-right: 10px;
    }
    .task-sub-main-heading{
        font-size: 38px;
    }
    .task-btns{
        width: 52px;
        height: 52px;
    }
}
@media screen and (min-width:1200px){
    .task-container{
        width: 50%;
        padding: 20px;
    }
    .task-btn-div{
        padding-right: 13px;
    }
    .task-sub-main-heading{
        font-size: 40px;
    }
    .task-btns{
        width: 53px;
        height: 53px;
    }
}




