@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Pacifico&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.sign-in-container{
    background-color: white;
    height: 100%;
    background-image: url('https://img.freepik.com/premium-photo/businessman-holding-pencil-complete-checklist-with-tick-marks-business-organization-achievements-goals-vector-concept_1029476-109496.jpg');
    background-size: cover;
    background-position: center;
    padding:20px 20px;
}
.sign-in-form {
    border-radius: 15px;
    padding: 10px;
    height: 95%;
    width: 100%;
    background-color: rgba(2, 90, 96, 0.411);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 10px 2px rgb(7, 61, 61);
}
.sign-in-heading{
    font-size: 40px;
    font-family: "Courgette";
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 1.5px;
    margin-top: 10px;
}
.user-icon{
    color: white;
    font-size: 70px;
}
.label{
    color: white;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 480;
    letter-spacing: 0.2px;
}
.error-msg{
    color: red;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: -12px;
}

.text{
    font-size: 25px;
    padding-bottom: 0px;
    margin-bottom: 0px
}
.input-field{
    border: 0px;
    outline: none;
    height: 45px;
    padding-left: 10px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 5px;
    color: rgb(0, 208, 255);
}
.input-select-field{
    border: 0px;
    outline: none;
    height: 42px;
    font-size: 18px;
    font-family: "Roboto";
    font-weight: 500;
    border-radius: 10px;
    color: rgb(0, 208, 255);
}
.input-field:focus{
    border: 2px solid rgb(6, 176, 188);
}
.button{
    border: 0px;
    width: 120px;
    height: 50px;
    font-size: 25px;
    font-family: "Courgette";
    font-weight: bold;
    border-radius: 15px;
    letter-spacing: .5px;
    background-color: rgb(6, 176, 188);
    color: white;
    transition: all 0.2s ease-in-out;
    padding: 5px;
}
.button:active{
    transform: scale(0.8);
    box-shadow: 0px 0px 15px 3px white;
}
.msg{
    color: black;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 450;
}
.failure-page{
    height: 100vh;
    background-color: rgb(186, 222, 254);
}
.fail-card{
    border-radius: 20px;
    background-color: rgb(3, 76, 87);
    padding: 10px;
    width: 500px;
    height: 300px;
}
.err-msg{
    font-size: 25px;
    color: white;
    font-family: "Roboto";
    font-weight: 500;
    margin-bottom: 10px;
}
.api-status{
    font-size: 50px;
    color: white;
    font-family: "Roboto";
}
.login-btn{
    border: 2px solid rgb(6, 176, 188);
    margin-left: 15px;
    background-color: transparent;
    border-radius: 15px;
    padding: 6px;
    font-family: "Courgette";
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* @media screen and (max-width: 576px) and(min-width: 768px){
    .sign-in-form{
        width: 100%;
        box-shadow: none;
    }
} */

@media screen and (min-width: 768px){
    .sign-in-form{
        width: 100%;
        box-shadow: none;
        height: 100%;
        background-color: rgba(4, 141, 151, 0.308);
    }
    .sign-in-container{
        height: 100vh;
        background-color: rgb(172, 214, 218);
        background-image: none;
        padding: 20px;
    }
    .image{
        height: 550px; 
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .login-btn{
        background-color: transparent;
        border: 2px solid white;
        color: white;
    }
    .role-text{
        color: white !important;
    }
}

.all-error{
    margin-top: 6px;
    margin-bottom: -5px;
    font-size: 19px;
    color: red;
    font-weight: 550; 
}

