@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Kaushan+Script&family=Pacifico&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Satisfy&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
.nav{
    background-color: rgb(5, 89, 121);
    height: 72px;
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 10px 5px rgb(5, 89, 121);
}
#full-name{
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-left: 20px;
    font-family:"Courgette";
    padding: 0px;
    margin-top: 4px;
 }

.tabs-container {
    display: flex;
    justify-content: end;
    height: 50px;
    margin-top: 3px;
}
.link{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto Slab";
    padding: 7px;
    letter-spacing: 0.5px;
    height: 40px;
    border-radius: 10px;
    transition: all 0.2s ease, box-shadow 0.2s ease;
}
.link-btn{
    border: 0px;
    background-color: transparent;
}
.link:hover{
    background-color: white;
    color: rgb(5, 89, 121) !important;
}
.link:active{
    transform: scale(0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#ham-btn{
    background-color: white;
    margin-right: 0px;
}

@media screen and (max-width: 768px){
    .tabs-container{
        height: 150px;
        margin-top: 12px;
        width: 100%;
        margin-left: 368px;
    }
    .div{
        padding: 10px;
    }
    .link {
        border: 0px;
        margin-bottom: 8px;
        font-weight: 550;
        font-size: 20px;
        text-align: center;
        padding-top: 5px;
        color: white;
        background-color: rgba(30, 116, 150, 0.447);
    }
    .link:hover{
        background-color: rgb(5, 89, 121);
        border: 0px;
        text-decoration: none;
        color: white !important;
    }
    #full-name{
        font-size: 25px;
    }
    .button-container{
        width: 15%;
        padding: 0px;
    }
}

.logout-btn{
    border: 0px;
    background-color: purple;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto Slab";
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    padding: 5px 9px;
    margin-top: 2px;
    margin-right: 30px;
}

.logout-btn:active{
    transform: scale(0.8);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logout{
    border: 0px;
    background-color: purple;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 500;
    font-family: "Roboto Slab";
    padding: 7px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.logout:active{
    transform: scale(0.8);
}
